{% if app.session.get('role') is not null %}
<table>
        <thead>
        <tr>
            <td><a href="{{ path('notif_new') }}"><button class="btn-new">Créer une notification</button></a></td>
            <td>Evennement</td>
            <td>Date</td>
            <td>Texte</td>
        </tr>
        </thead>
        <tbody>
        {% for notif in notifs %}
        <tr>
            <td></td>
            <td>{{ notif.event_id }}</td>
            <td>{{ notif.dateCreated }}</td>
            <td>{{ notif.description }}</td>
             </tr>
        {% endfor %}
        </tbody>
    </table>
{% endif %}