<!DOCTYPE html>
<html lang="FR">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <style>
            table {
                table-layout: fixed;
                width: 100%;
                border-collapse: collapse;
                border: 3px solid purple;
            }
            thead th:nth-child(1) {
                width: 10%;
            }
            th, td {
                padding: 10px;
                text-align: center;
            }
            thead { color: #3adb76}
            body {
                padding: 0;
                margin: 0;
            }
            button{
                background-color: #147dc2;
                border: none;
                color: white;
                padding: 10px 16px;
                text-align: center;
                text-decoration: none;
                display: inline-block;
                font-size: 16px;
                cursor:pointer;
                transition-duration: 0.4s;
            }
            button:hover {
                box-shadow: 0 10px 10px 0 rgba(0,0,0,0.24), 0 12px 12px 0 rgba(0,0,0,0.19);
            }
            .btn-new {
                background-color: #1b9448;
            }
            .btn-edit {
                background-color: #a46a1f;
            }
            .flexbody{
                display: flex;
                justify-content: center;
                align-content: flex-start;
                align-items: flex-start;
            }
        </style>
    {% endblock %}

    {% block javascripts %}
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    {% endblock %}

</head>
<body style="text-align: center">
{% block body %}{% endblock %}
</body>
</html>
