{% extends 'base.html.twig' %}
{% block title %}Edition d'un event{% endblock %}
{% block body %}
    {% include 'headnav.html.twig' %}
    {% if app.session.get('role') is not null %}
    {{ form(form) }}
        <h3>Une notification sera envoyé</h3>
    {% endif %}
{% endblock %}
